<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDeY81GUnaNslc62uZu67XBlOKontqlJ3E</string>
	<key>GCM_SENDER_ID</key>
	<string>1026374048623</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flynn-stevens.KiwiHuts</string>
	<key>PROJECT_ID</key>
	<string>kiwi-huts-46101</string>
	<key>STORAGE_BUCKET</key>
	<string>kiwi-huts-46101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026374048623:ios:b173774df7ae105ec2a69a</string>
</dict>
</plist>